<!DOCTYPE html>
<html>
<head>
  <title>Waiting Room</title>
</head>
<body>
  <h1>Welcome to the waiting for experiment: <%= experimentId %></h1>
  <h2>You are user <%= userId %></h2>
  <p>Waiting for other players to join...</p>
  <!-- Waiting Room HTML Code -->

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const experimentId = '<%= experimentId %>';
    const userId = '<%= userId %>';
    // Connect to the WebSocket server
    const socket = io();

    // Handle connection established
    socket.on('connect', () => {
      console.log('Connected to server');
      socket.emit("newUser", {
        'experimentId': experimentId,
        'userId': userId
      })
    });

    // Handle disconnection
    socket.on('disconnect', () => {
      console.log('Disconnected from server');
    });

    // Handle redirect to game
    socket.on('gameStart', (data) => {
      console.log('Redirecting to game:', data.room);
      window.location.href = data.room; // Redirect to the game URL
    });
  </script>


</body>
</html>

