<!doctype html>
<html>
  <title>Waiting Room</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    .timer {
      text-align: center;
      font-size: 60px;
      margin-top: 0px;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>

  <body>
    <div class="w3-container">
      <div id="loaderDiv" class="w3-container w3-hide w3-center">
        <button id="loaderButton" class="w3-button w3-hover-white w3-jumbo">
          <div class="loader"></div>
        </button>
      </div>
      <div id="startDiv" class="w3-center w3-margin">
        <button id="startButton" class="w3-btn w3-jumbo w3-green w3-disabled">
          START
        </button>
        <p>Click START to enter the waiting room</p>
      </div>
      <div id="errorDiv" class="w3-center w3-margin">
        <div class="w3-container w3-border w3-large w3-margin">
          <p>An error has occurred.</p>
        </div>
      </div>
      <div id="agreeDiv" class="w3-hide w3-center w3-margin">
        <p>
          There are enough player to start. Click on "AGREE" to start playing.
          When everyone agrees, the game can start!
        </p>
        <button id="agreeButton" class="w3-btn w3-jumbo w3-gray">GEREED</button>
      </div>
      <div id="timerBoxDiv" class="w3-center w3-margin">
        <p id="timerBox" class="timer w3-hide"></p>
      </div>
      <div id="waitDiv" class="w3-hide">
        <div class="w3-container w3-border w3-large w3-margin">
          <div class="w3-center">
            <p>Welcome to the waiting room!</p>
            <p>
              We are waiting for <span id="playersToWaitFor"></span> more
              player/s. We can start the game when we have a total of
              <span id="maxPlayers"></span> players and a room!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Waiting Room HTML Code -->

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const experimentId = "<%= experimentId %>"
      const userId = "<%= userId %>"
      const token = "<%= token%>"
      let uuid = null
      let myState = "new"
      // Connect to the WebSocket server
      const socket = io()
      const agreeButton = document.getElementById("agreeButton")
      agreeButton.addEventListener("click", function () {
        console.log(`agreeButton clicked: agreement uuid ${uuid}`)
        // User sends agreement to start game.
        socket.emit("userAgreed", {
          experimentId: experimentId,
          userId: userId,
          uuid: uuid,
        })
        hideDiv("startDiv")
        hideDiv("tableDiv")
        hideDiv("waitDiv")
        hideDiv("agreeDiv")
        hideDiv("errorDiv")
        showDiv("loaderDiv")
      })
      function setTimerAndShow(id, timeSeconds) {
        const p = document.getElementById(id)
        let seconds = timeSeconds
        p.innerText = seconds
        showDiv(id)
        const interval = setInterval(() => {
          seconds -= 1
          p.innerText = seconds
          if (seconds <= 0) {
            clearInterval(interval)
          }
        }, 1000)
      }
      function hideDiv(id) {
        const div = document.getElementById(id)
        if (!div) {
          return
        }
        if (!div.classList.contains("w3-hide")) {
          div.classList.add("w3-hide")
        }
      }
      function showDiv(id) {
        const div = document.getElementById(id)
        if (!div) {
          return
        }
        if (div.classList.contains("w3-hide")) {
          div.classList.remove("w3-hide")
        }
      }
      // Handle connection established
      socket.on("connect", () => {
        console.log(`[EVENT] connect`)
        const startButton = document.getElementById("startButton")
        if (startButton.classList.contains("w3-disabled")) {
          startButton.classList.remove("w3-disabled")
        }
        socket.emit("landingPage", {
          experimentId: experimentId,
          userId: userId,
          token: token,
        })
        myState = "startedPage"
        console.log("Connected to server")
      })
      const startButton = document.getElementById("startButton")
      startButton.addEventListener("click", function () {
        socket.emit("newUser", {
          experimentId: experimentId,
          userId: userId,
          token: token,
        })
      })

      // Server instructs us to wait for more players.
      // Server passes the number of players we are waiting for.
      socket.on("wait", (data) => {
        console.log("[SOCKET][wait] ", data)
        document.getElementById("playersToWaitFor").innerText =
          data.playersToWaitFor
        document.getElementById("maxPlayers").innerText = data.maxPlayers
        hideDiv("startDiv")
        hideDiv("tableDiv")
        hideDiv("agreeDiv")
        hideDiv("errorDiv")
        hideDiv("timerBox")
        hideDiv("loaderDiv")
        showDiv("waitDiv")
        uuid = null
        myState = "queued"
      })

      socket.on("reset", (data) => {
        console.log("[SOCKET][reset] ", data)
        hideDiv("agreeDiv")
        hideDiv("timerBox")
        hideDiv("loaderDiv")
        hideDiv("errorDiv")
        hideDiv("waitDiv")
        showDiv("startDiv")
        showDiv("tableDiv")
        uuid = null
        myState = "startedPage"
      })

      socket.on("error", (data) => {
        console.log("[SOCKET][error] ", data)
        hideDiv("agreeDiv")
        hideDiv("timerBox")
        hideDiv("loaderDiv")
        showDiv("errorDiv")
        hideDiv("waitDiv")
        hideDiv("startDiv")
        hideDiv("tableDiv")
        uuid = null
        myState = "error"
      })

      // Update from server about the number of waiting players
      socket.on("queueUpdate", (data) => {
        console.log("[SOCKET][queueUpdate] ", data)
        document.getElementById("playersToWaitFor").innerText =
          data.playersToWaitFor
        document.getElementById("maxPlayers").innerText = data.maxPlayers
      })

      // Wait for players to agree to start
      socket.on("agree", (data) => {
        uuid = data.uuid
        console.log("[SOCKET][agree] ", data)
        hideDiv("startDiv")
        hideDiv("tableDiv")
        hideDiv("errorDiv")
        hideDiv("waitDiv")
        showDiv("agreeDiv")
        setTimerAndShow("timerBox", data.timeout)
      })

      // Handle disconnection
      socket.on("disconnect", () => {
        console.log("Disconnected from server")
      })

      // Handle redirect to game
      socket.on("gameStart", (data) => {
        console.log("Redirecting to game:", data.room)
        window.top.location.href = data.room
        //window.location.href = data.room // Redirect to the game URL
      })
    </script>
  </body>
</html>
